*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}

:root {

    --white: #ffffff;
    --black: #000000;
    --green-120: #009900;
    --blue-202: #1465c0;
    --yellow-46: #ffd54f;

}

body {

    background: linear-gradient(to right, #1465c0, #009900, #ffd54f) ;

}


:is(.home, .homeInformation, .homeSearch, .homeSearchForm) {

    display: flex;
    align-items: center;
    justify-content: center;

}

.home {

    width: 100%;
    height: 80vh;

    flex-direction: column;

}

.homeInformation {

    width: 400px;
    height: 500px;

    padding: 16px;
    margin-right: 25px;
    border: none;
    border-radius: 10px;

    background-color: var(--white);


}

.homeStartInfo {
    animation-name: fade;
    animation-duration: 0.2s;
}

.homeTitle{

    font-size: 35px;
    font-weight: 530;
    color: var(--green-120);

    margin-bottom: 22px;

}

.result {

    text-align: center;
    font-size: 25px;
    font-weight: 530;
    color: var(--green-120);


}

.homeSearchResult{
    display: none;
    animation-name: fade;
    animation-duration: 0.2s;

    padding: 16px;
    border: none;
    border-radius: 10px;

    background-color: var(--white);
    box-shadow: #ffcf33 -5px 5px, #ffd54f -10px 10px, #ffdb66 -15px 15px, #ffe180 -20px 20px, #ffe799 -25px 25px;
}

.resultContent {
    display: flex;
    gap: 8px;

    color: var(--green-120);
}

.homeSearch {

    flex-direction: column;

    width: 400px;
    height: 230px;

    padding: 16px;
    border: none;
    border-radius: 10px;

    background-color: var(--white);
    box-shadow: #ffcf33 -5px 5px, #ffd54f -10px 10px, #ffdb66 -15px 15px, #ffe180 -20px 20px, #ffe799 -25px 25px;
}

.homeSearchForm {

    flex-direction: column;

}

.inputcep{
    width: 200px;
    height: 35px;


    font-size: 18px;
    font-weight: 500;
    color: var(--black-0);

    border: 2px solid var(--green-120);
    border-radius: 5px;

    margin-bottom: 18px;
    
}


.btn{
    padding: 8px 15px;

    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    border: none;
    border-radius: 7px;
    transition: 0.2s ease-in-out;

    cursor: pointer;

}

.btn:hover {
    background-color: var(--green-120);
    color: var(--white);
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 425px) {
    .homeSearch {
        width: 300px;
        height: 230px;
    }
}

@media screen and (max-width: 375px) {
    .homeSearch {
        width: 250px;
    
    }
    
    .homeTitle, .result{
        font-size: 21px;
    }

    .homeSearchResult{
        width: 250px;
    }
}
